@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}


@font-face {
font-family: "brice-bold";
src: url("../font/brice-bold.otf");
}


html {
    font-size: 1em;
}

body {
  background-color: #FFF9EB;
  font-size: 16px;
  line-height: 26px;    
  font-family: 'Rubik', sans-serif;
  color: #D42027;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #D42027;	
  margin: 4px;
}

h1 {
  font-family: "brice-bold", sans-serif;    
  font-size: 42px;
  line-height: 46px;
  margin: 4px;
  color: #D42027;
}

h2 {
    font-family: "brice-bold", sans-serif;
    font-size: 38px;
    line-height: 36px;
    color: #D42027;
    margin: 4px;
}

h3 {
    font-family: "brice-bold", sans-serif;
    font-size: 24px;
    line-height: 26px;
    margin: 4px;
    color: #D42027;
}

h4 {
   font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 100;
    margin: 4px;
}

h5{

  margin-top: 0px;
  margin-bottom: 8px;
}

.center{
    
 text-align: center;   
}